{% extends "base.html" %}

{% block title %}Clientes{% endblock %}

{% block content %}
<form class="d-flex justify-content-between mb-3" action="{{ url_for('cliente.formCliente') }}" , method="GET">
  <h1 class="fw-bold destacar-titulo">Clientes</h1>
  <button class="btn btn-outline-primary">Novo cliente</button>
</form>

<table class="table table-dark table-striped table-hover table-borderless">
  <thead class="text-center">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">CPF</th>
      <th scope="col">Telefone</th>
      <th scope="col">Compra fiado?</th>
      <th scope="col">Dia do fiado</th>
      <th scope="col">Senha</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody class="text-center">
    {% if result %}
    {% for row in result[0] %}
    <tr>
      <th scope="row">{{ row['id_cliente'] }}</th>
      <td>{{ row['nome'] }}</td>
      <td>{{ row['cpf'] }}</td>
      <td>{{ row['telefone'] }}</td>
      <td>{{ row['compra_fiado'] }}</td>
      <td>{{ row['dia_fiado'] }}</td>
      <td>{{ row['senha'] }}</td>
      <td class="d-grid d-md-block">
        <button class="btn btn-sm btn-primary me-0 md-md-1 mb-1 mb-md-auto">
          <i class="bi bi-pencil"></i>
        </button>
        <button class="btn btn-sm btn-outline-danger me-0 md-md-1 mb-1 mb-md-auto">
          <i class="bi bi-trash"></i>
        </button>
      </td>
    </tr>
    {% endfor %}
    {% endif %}
  </tbody>
</table>
{% endblock %}