{% extends "base.html" %}

{% block title %}Produto{% endblock %}

{# Variáveis #}
{% set id = result[0].id_produto if result else '0' %}
{% set nome = result[0].nome if result else '' %}
{% set descricao = result[0].descricao if result else '' %}
{# A foto não pode ser posta por razões de segurança, segundo minhas pesquisas #}
{% set valor_unitario = result[0].valor_unitario if result else '' %}

{% block content %}

<div class="d-flex flex-column align-items-center">

  <div class="card bg-form w-50">
    <form action="{{ url_for('produto.edit') if result else url_for('produto.insert') }}"
      name="{{ 'formEditar' if result else 'formAdicionar' }}" id="{{ 'formEditar' if result else 'formAdicionar' }}"
      method="POST" enctype="multipart/form-data">
      <div class="card-header">
        <h1 class="fw-bold destacar-titulo">Cadastro de Produtos</h1>
      </div>

      <div class="card-body">
        <div class="form-group mb-3">
          <label class="form-label" for="codigo">Código</label>
          <input class="form-control text-bg-dark" type="text" id="codigo" name="codigo" placeholder="Código"
            value="{{ id }}" readonly>
        </div>

        <div class="form-group mb-3">
          <label class="form-label" for="nome">Nome Produto</label>
          <input class="form-control text-bg-dark" type="text" name="nome" id="nome" placeholder="Nome Produto"
            maxlength="100" autofocus value="{{ nome }}" required>
        </div>

        <div class="form-floating mt-4">
          <textarea class="form-control text-bg-dark no-resize" name="descricao"
            placeholder="Informe a descrição do produto" id="floatingTextarea" style="height: 100px" maxlength="200"
            required>{{ descricao }}</textarea>
          <label for="floatingTextarea">Descrição do produto</label>
        </div>

        <div class="input-group my-3">
          <label class="input-group-text text-bg-dark" for="inputGroupFile01">Foto do produto</label>
          <input class="form-control text-bg-dark" name="foto" type="file" id="inputGroupFile01" accept="image/*"
            required>
        </div>

        <div class="form-group mb-3">
          <label class="form-label" for="valor">Valor Produto</label>
          <input class="form-control text-bg-dark" type="number" name="valor_unitario" id="valor_unitario"
            placeholder="Valor Produto" max="1000" value="{{ valor_unitario }}" required>
        </div>

      </div>
      <div class="card-footer">
        <button class="btn btn-primary" type='submit' name='salvaUsuarioDB' id='salvaUsuarioDB'><i
            class='fas fa-save'></i> Salvar</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}