{% extends "base.html" %}

{% block title %}Página não encontrada — 404{% endblock %}

{% block content %}
<div class="d-flex flex-column align-items-center">
  <div class="row">
    <div class="col">
      <h1 class="mb-4">Página não encontrada!</h1>
      <h3 class="mb-5">Favor verificar se o endereço digitado esta correto.</h3>
    </div>
  </div>
  <figure>
    <img class="mb-5" src="{{ url_for('static', filename='code-error.png') }}" alt="Erro 404">
  </figure>
  <div class="row">
    <div class="col">
      <p>{{ erroHttp }}</p>
    </div>
  </div>
</div>
{% endblock %}